.world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(#e4e0ba, #f7d9aa);
    background: linear-gradient(#e4e0ba, #f7d9aa);
}